<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" href="/style/cart.css">
</head>

<body>
  <!-- Navigation Bar -->
  <nav>
    <div class="container">
      <a href="/" class="logo">E-Commerce</a>
      <span class="title">SHOPPING CART</span>
      <a href="/cart" class="cart">
        <img src="/images/cart.png" alt="Cart" />
      </a>
    </div>
  </nav>

  <!-- Main Content -->
  <main>
    <% if (!locals.items || items.length === 0) { %>
    <p class="empty-cart-message">Your cart is empty.</p>
    <% } else { %>
    <section class="cart-list">
      <% items.forEach(item => { %>
      <div class="cart-item">
        <img src="<%= item.image %>" alt="<%= item.alt %>" class="cart-item-image" />
        <div class="cart-item-details">
          <h3><%= item.name %></h3>
          <div class="item-price-quantity">
            <p class="price"><%= item.price %></p>
            <p class="quantity">Quantity: <%= item.quantity %></p>
          </div>
          <p class="item-total"><%= item.price * item.quantity %></p>
        </div>
      </div>
      <% }) %>
    </section>
    <div class="cart-summary">
      <h2>Total Payment: <span class="total-price"><%= totalPrice %></span></h2>
      <form class="pay-form">
        <input type="hidden" name="name" value="Shopping Cart" />
        <input type="hidden" name="description" value="<%= desc %>" />
        <input type="hidden" name="price" value="<%= totalPrice %>" />
        <button type="submit" class="proceed-btn">Proceed to Buy</button>
      </form>
    </div>
    <% } %>
  </main>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="script/PaymentGateway.js"></script>
  <script>
    function formatPrice(price) {
      return new Intl.NumberFormat("en-IN", {
        style: "currency",
        currency: "INR"
      }).format(price);
    }

    document.querySelectorAll(".price").forEach(span => {
      span.innerHTML = "Price:" + formatPrice(span.innerHTML);
    });

    document.querySelectorAll(".total-price").forEach(span => {
      span.innerHTML = formatPrice(span.innerHTML);
    });

    document.querySelectorAll(".item-total").forEach(span => {
      span.innerHTML = "Item Total: " + formatPrice(span.innerHTML);
    });
  </script>
</body>

</html>